@page

@{
    ViewData["Title"] = "About";
}

<div class="about-section">
  <h1>About Us Page</h1>
  <p>Some text about who we are and what we do.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/img/hl.jpg" alt="pic" style="width:100%">
      <div class="container">
        <h2>Ergo</h2>
        <p class="title">Just a nice guy</p>
        <p>Happy and demotivated.</p>
        <p>brainispower21@gmail.com</p>
        <p class="center-v center-h"><a class="contact-btn" asp-area="" asp-page="./Contacts/Create">Contact me!</a></p>
      </div>
    </div>
  </div>
</div>