@page
@model RReviews.Pages.GalleryModel

@{
    ViewData["Title"] = "Gallery";
}

<div class="row">
    <div class="col container">
        <div>
            @foreach (var item in Model.ImageList)
            {
                <img class="float-left p-1" src="@item" height="150" />
            }
        </div>
    </div>
</div>