@page
@using RReviews.Enum
@using System.Globalization
@model RReviews.Pages.Reviews.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Review</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Review.Title" class="control-label"></label>
                <input asp-for="Review.Title" class="form-control" />
                <span asp-validation-for="Review.Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Review.ReviewTypeObject" class="control-label"></label>
                <select asp-for="Review.ReviewTypeObject" asp-items="Html.GetEnumSelectList<ReviewObject>()" class="form-control"></select>
                <span asp-validation-for="Review.ReviewTypeObject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.TestingDate" class="control-label"></label>
                <input asp-for="Review.TestingDate" class="form-control" />
                <span asp-validation-for="Review.TestingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.Content" class="control-label"></label>
                <input asp-for="Review.Content" class="form-control" />
                <span asp-validation-for="Review.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.Cost" class="control-label"></label>
                <input asp-for="Review.Cost" class="form-control" type="number" value="Review.Cost.ToString("F", CultureInfo.InvariantCulture)"/>
                <span asp-validation-for="Review.Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.ReviewRating" class="control-label"></label>
                <input asp-for="Review.ReviewRating" class="form-control" />
                <span asp-validation-for="Review.ReviewRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
