<!DOCTYPE html>
<html lang="en">

    @await Html.PartialAsync("HeadPartial")

<body>

    @await Html.PartialAsync("HeaderPartial")

    <div class="container-lg">
        <div class="row">
            <div class="col-lg-9">                
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
            <div class="col-lg-3 overflow-auto">
                @await Html.PartialAsync("SidebarPartial")
            </div>
        </div>
    </div>
    
    @await Html.PartialAsync("FooterPartial")
    @await Html.PartialAsync("ScriptsPartial")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>