
<footer class="border-top footer text-muted bg-light fixed-bottom">
    <div class="text-left p-3 container">
        &copy; 2022 - RReviews - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>