

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" id="header-nav">
        <div class="container">

            <div id="container-brand-dropdown">
                <a class="navbar-brand" asp-area="" asp-page="/Index"><span id="rr">RR</span></a>
            </div>

            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul id="navigation-menu" class="head-menu">
                    <li>
                        <a asp-area="" asp-page="/Reviews/Index">Observe</a>
                    </li>
                    <li>
                        <a asp-area="" asp-page="/Gallery">Gallery</a>
                    </li>
                    <li>
                        <a asp-area="" asp-page="/About">About</a>
                    </li>
                    <li>
                        <a asp-area="" asp-page="/Contacts/Create">Contacts</a>
                    </li>
                </ul>
                <ul id="auth-menu" class="head-menu">
                    @if(User.Identity.IsAuthenticated)
                    {
                        <li class="li-auth-after">                            
                            <p>@User.Identity.Name</p> 
                        </li>
                        <li class="li-auth-after">
                            <a asp-area="" asp-page="/Register/Cabinet" class="btn btn-info">Account</a>
                        </li>
                    }
                    else
                    {
                        <li class="li-auth-before">
                            <a asp-area="" asp-page="/Register/Register">Register</a>
                        </li>
                        <li class="li-auth-before">
                            <a asp-area="" asp-page="/Register/Login">Login</a>
                        </li>
                    }
                </ul>

            </div>
        </div>
    </nav>
</header>