
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" id="header-nav">
        <div class="container">

            <div id="container-brand-dropdown">
                <a class="navbar-brand" asp-area="" asp-page="/Index">RReviews</a>
            </div>

            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul id="navigation-menu">
                    <li>
                        <a asp-area="" asp-page="/Reviews/Index">Observe</a>
                    </li>
                    <li>
                        <a href="#">Gallery</a>
                    </li>
                    <li>
                        <a asp-area="" asp-page="/About/About">About</a>
                    </li>
                    <li>
                        <a asp-area="" asp-page="/Contacts/Create">Contacts</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>